---
layout: base.njk
---

<a class="sr-only sr-only-focusable" href="#main">Contenu</a>
{% include "header.njk" %}
{% include "navigation.njk" %}
<main class="main" id="main" role="main">{{content|safe}}</main>
{% include "footer.njk" %}